@import "tailwindcss";

.light {
  /* for text */
  --text-white: #ffffff;
  --text-black: #000000;
  --text-gray: #505050;
  --text-dark-gray: #101828;

  /* for background */
  --bg-white: #ffffff;
  --bg-black: #000000;
  --bg-gray: #f3f4f6;
  --bg-light-green: #b9f8cf;

  /* for circle border in home page */
  --circle-border: #F3F4F6;

  /* used in rootlayout */
  --bg-main-bg: #ececec;

  /* for all buttons */
  --bg-button-bg: #3cae64;

  /* for about curcle border color */
  --border-gray: #80808033;

  /* for all users list bottom border */
  --border-bottom: #d1d5db;

  /* for sideber right border */
  --sidebar-right-border: #d1d5dc;
}
.dark {
  /* for text */
  --text-white: #000000;
  --text-black: #ffffff;
  --text-gray: #d1d5db;
  --text-dark-gray: #c9d0df;

  /* for background */
  --bg-white: #1f272f;
  --bg-black: #ffffff;
  --bg-gray: #292f3d;
  --bg-light-green: #267c45;
  
  /* for circle border in home page */
  --circle-border: #262c35;

  /* used in rootlayout */
  --bg-main-bg: #313944;

  /* for all buttons */
  --bg-button-bg: #309553;

  /* for about curcle border color */
  --border-gray: #c4c4c433;

  /* for all users list bottom border */
  --border-bottom: #636775;

  /* for sideber right border */
  --sidebar-right-border: #474d55;
}
@theme {
  --color-TextWhite: var(--text-white);
  --color-TextBlack: var(--text-black);
  --color-TextGray: var(--text-gray);
  --color-TextDarkGray: var(--text-dark-gray);

  --color-BGWhite: var(--bg-white);
  --color-BGBlack: var(--bg-black);
  --color-BGGray: var(--bg-gray);
  --color-BGLightGreen: var(--bg-light-green);

  --color-CircleBorder: var(--circle-border);
  --color-BGMainBg: var(--bg-main-bg);
  --color-buttonsBG: var(--bg-button-bg);
  --color-ButtonGrayBorder: var(--border-bottom);
  --color-GrayBorder: var(--border-gray);
  --color-SidebarRightBorder: var(--sidebar-right-border);
}
/* for navber before shape */
.navlogo::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -2px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-light-green);
  border-radius: 50%;
  z-index: -1;
}
/* for navber before shape */
/* for hero section slider animation */
.sliderButton {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.sliderRightButton {
  position: absolute;
  bottom: 168px;
  right: 18%;
  transform: rotate(180deg);
}
/* for hero section slider animation */
/* for about secton animation */
.aboutLogo {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
}
.aboutFirstIcon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 50%;
  border: 2px solid var(--border-gray);
  animation-name: instagram;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.aboutSecondIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
  border: 2px solid var(--border-gray);
  animation-name: facebook;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.aboutTherdIcon {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  border: 2px solid var(--border-gray);
}
.facebookIcon {
  position: absolute;
  bottom: 57px;
  left: 57px;
  border: 10px solid var(--bg-gray);
  border-radius: 50%;
  animation-name: facebookIcon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.twitterIcon {
  position: absolute;
  bottom: -18px;
  right: 187px;
  border: 10px solid var(--bg-gray);
  border-radius: 50%;
  animation-name: twitterIcon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.telegramIcon {
  position: absolute;
  top: 29px;
  left: 87px;
  border: 10px solid var(--bg-gray);
  border-radius: 50%;
  animation-name: telegramIcon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.messangerIcon {
  position: absolute;
  top: -96px;
  left: 189px;
  border: 10px solid var(--bg-gray);
  border-radius: 50%;
  animation-name: messangerIcon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.linkdenIcon {
  position: absolute;
  top: 57px;
  right: 57px;
  border: 10px solid var(--bg-gray);
  border-radius: 50%;
  animation-name: linkdenIcon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.instagramIcon {
  position: absolute;
  top: 99px;
  left: 59px;
  border: 10px solid var(--bg-gray);
  border-radius: 50%;
  animation-name: instagramIcon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.snapchatIcon {
  position: absolute;
  bottom: 189px;
  right: 4px;
  border: 10px solid var(--bg-gray);
  border-radius: 50%;
  animation-name: snapchatIcon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.whatsappIcon {
  position: absolute;
  bottom: 185px;
  left: 6px;
  border: 8px solid var(--bg-gray);
  border-radius: 50%;
  animation-name: whatsappIcon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes facebook {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes facebookIcon {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes twitterIcon {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes telegramIcon {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes messangerIcon {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes linkdenIcon {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes instagram {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes snapchatIcon {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes instagramIcon {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes whatsappIcon {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* for about secton animation */

/* for SideberActiveMenu */
.SideberActiveMenu {
  border-left: 5px solid #38b363;
  color: #38b363;
}
/* for SideberActiveMenu */

/* for message section scroll bar  */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
/* for message section scroll bar  */


/* ============= Hero shape ============= */
.login_shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 60vh;
  z-index: 10;
}
.shape1 {
  width: 25vw;
  height: 25vw;
  border-radius: 60%;
  background-color: #58e36d;
  filter: blur(60px);
  position: absolute;
  top: 0;
  left: 30%;
  animation-name: anima1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.shape2 {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #61ff66;
  filter: blur(60px);
  position: absolute;
  top: 10%;
  left: 40%;
  animation-name: anima2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/* .shape3 {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #13ca4d;
  filter: blur(30px);
  position: absolute;
  animation-name: anima3;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.shape4 {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #91e47c;
  filter: blur(30px);
  position: absolute;
  animation-name: anima4;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
} */

@keyframes anima1 {
  from {
    width: 15vw;
    transform: translate(0%, 0%);
  }
  to {
    width: 25vw;
    transform: translate(10%, -20%);
  }
}
@keyframes anima2 {
  from {
    width: 25vw;
    transform: translate(-20%, 20%);
  }
  to {
    width: 15vw;
    transform: translate(0%, 0%);
  }
}
/* @keyframes anima3 {
  from {
    transform: translate(25%, 5%);
  }
  to {
    transform: translate(-20%, 10%);
  }
}
@keyframes anima4 {
  from {
    transform: translate(60%, 10%);
  }
  to {
    transform: translate(70%, 0%);
  }
} */

/* ============= Hero shape ============= */
